<form method="post" action="" id="sForm" class="validateForm"
	autocomplete="false">
	<!-- /.box-header -->
	<div class="card-body">
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					{{ form_label(form.name, "Nombre") }}
					{{form_widget(form.name, {'attr': {'class': 'required form-control' }}) }}
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					{{ form_label(form.urlAccess, "Path de Symfony") }}
					{{form_widget(form.urlAccess, {'attr': {'class': 'required form-control' }}) }}
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					{{ form_label(form.moduleIcon, "Icono") }}
					{{form_widget(form.moduleIcon, {'attr': {'class': 'required form-control' }}) }}
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					{{ form_label(form.orderModule, "Orden") }}
					{{form_widget(form.orderModule, {'attr': {'class': 'form-control' }}) }}
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					{{ form_label(form.visible, "Visible") }}
					{{form_widget(form.visible, {'attr': {'class': 'form-control visibility' }}) }}
				</div>				
			</div>
			<div class="col-md-6">
				<div class="form-group">
					{{ form_label(form.description, "Descripción") }}
					{{form_widget(form.description, {'attr': {'class': 'form-control' }}) }}
				</div>
			</div>
			<!-- /.col -->
		</div>
		<div class='row'>
			<div class='col-md-12'>
				<div class='form-group'>
					<button type="reset" onclick="window.location='{{ path('backend_modules') }}'" class="btn btn-danger">Cancelar</button>
					<button type="submit" class="btn btn-primary pull-right">Guardar Datos</button>
				</div>
				
			</div>
		</div>
		<!-- /.row -->
	</div>
	
		
	
	{{ form_widget(form._token) }}
</form>
