{% extends '@App/Backend/base.html.twig' %}

{% block body %}
  <div class="card">
    <div class="card-header">        
        <div class='row'>
        	<div class='col-md-6'>
        		    				
        	</div>




<section class="content section-padding">
	<div class="container-fluid">
	  <header> 
		<h1 class="h3">Módulos del sistema</h1>
	  </header>
	  
	{{ include('@App/Backend/flash_message.html.twig') }}

	<div class="row">
		<div class="col-md-12">
			<div class="card box-primary collapsed-box">
				<div class="card-header with-border">
					<h3 class="box-title">Agregar un M&oacute;dulo</h3>
					<div class="box-tools pull-right">
						<button type="button" class="btn btn-box-tool"
							data-widget="collapse">
							<i class="fa fa-plus"></i>
						</button>
					</div>
				</div>
				{{ include('@App/Backend/Modules/form.html.twig', { 'form': form }) }}		
			</div>
			<!-- /.box -->
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-12">
			{{ include('@App/Backend/Modules/list.html.twig', { 'list': list }) }}	
		</div>
	</div>
	
	</div>
</section>
{% endblock %}







