{% extends '@App/Backend/base.html.twig' %}

{% block body %}

<section class="dashboard-counts section-padding">
    <div class="container-fluid">
      
      
      <div id='freewall' class="free-wall">	
      	
      	{% if institute %}
      	<div class="brick white_bkg text-center animated fadeInLeft">

      		<img src="{{ asset('uploads/images/' ~institute.logoPath) }}" style='max-width:290px' >
      		<div class='info_down'>
      			<h1>{{ institute.name }}</h1>
      		</div>
      	</div>
      	{% endif %}
      	
      	{% for module in userModules %}
      	    {% set color = '#4a69bd' %}   
      	    {% if loop.index == 1 %}
      			{% set color = '#1e90ff' %}
      		{% endif %}   	    
      		{% if loop.index == 2 %}
      			{% set color = '#00B4F9' %}
      		{% endif %}
      		{% if loop.index == 3 %}
      			{% set color = '#fbc531' %}
      		{% endif %}
      		{% if loop.index == 4 %}
      			{% set color = '#e74c3c' %}
      		{% endif %}
      		{% if loop.index == 5 %}
      			{% set color = '#A3CB38' %}
      		{% endif %}
      		{% if loop.index == 6 %}
      			{% set color = '#9c88ff' %}
      		{% endif %}	

      		
      		
	      	{% if module.mcid != 1 %}	      	
		        <div class="brick animated bounceIn card-1" onclick="window.location = '{{ path(module.url_access) }}'" style='cursor:pointer;background-color:{{ color }}'>		        	
		        	<div class='holder_menu'>
		        		<div class='left_column'>        	
					    	<span class='big_icon'>
					    		<i class='fa {{ module.module_icon }}' style='color:{{color | light_color}}'></i>
					    	</span>
				    	</div>
				    	<div class='right_column'>
					    	<h3 class='big_menu'>
					    		{{ module.alias_name }}
					    	</h3>
					    	<p>{{ module.description }}</p>
					    </div>					    	
		        	</div>	
		        </div>		       
	        {% endif %}
	        
        {% endfor %}
      </div>
      
      
      
      <div class='brick animated fadeInUp'>
      	
  		<br><br>
  		<h4>¿Necesitas ayuda?</h4>
  		<p>
  			<i class='fa fa-commenting'></i> Utiliza nuestro chat en vivo (Esquina inferior derecha)<br>
  			<i class='fa fa-envelope'></i> soporte@kaans.net<br>      			
  			<i class='fa fa-facebook-square'></i> /kaans.net
  		</p>
  	
     </div>
</section>       	

{% endblock %}
{% block extra_scripts %}
<script src="{{ asset('js/freewall.js') }}"></script>
<script>
	   
		var wall = new Freewall("#freewall");
		wall.reset({
			selector: '.brick',
			animate: true,
			cellW: 300,
			cellH: 'auto',
			onResize: function() {
				wall.fitWidth();
			}
		});

		$(window).trigger('resize');
		
</script>
{% endblock %}
