<section class="content-header">
    <h1>{{ editTitle }}</h1>
    <ol class="breadcrumb">
        <li>
            <a href="{{ path('backend_main') }}">
                <i class="fa fa-dashboard"></i>
                Home
            </a>
        </li>
        <li>
            <a href="{{ path(titleRoute) }}">
                {{ smallTitle }}
            </a>
        </li>
        <li class="active">Editar</li>
    </ol>
</section>
<section class="content">
    {{ include('@App/Backend/flash_message.html.twig') }}

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Editar {{ smallTitle }}</h3>
                </div>
                {{ include(formPath, { 'form': form }) }}
            </div>
            <!-- /.box -->
        </div>
    </div>

</section>