<!DOCTYPE html>
<html lang="en">
	<head>
	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>{% block title %}{% endblock %}</title>

	<link rel="stylesheet" href="{{ asset('css/site/bootstrap.min.css')}}">
	{% block styles %}
	{% endblock %}
	</head>
	<body>
		
	
		{% block body %}
		{% endblock %}

		{% block extra_scripts %}
		{% endblock %}

	</body>	
</html>
