<!DOCTYPE html>
<html lang="en">
	<head>
	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Colegio Primaria</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
   
    <link rel="stylesheet" href="{{ asset('plugins/adminLTE/dist/css/adminLTE.min.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">       
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="{{ asset('css/site/bootstrap.min.css')}}">
	<link rel="stylesheet" href="{{ asset('css/site/now-ui-dashboard.css')}}">
	<link rel="stylesheet" href="{{ asset('css/backend/sa2.css')}}">
	<link href="https://cdn.jsdelivr.net/bootstrap.datepicker-fork/1.3.0/css/datepicker3.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ asset('css/site/demo.css')}}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
	{% block styles %}
	{% endblock %}
	</head>
	<body>
		
		
		<!-- Page preloader-->
	    <div class="page-loader">
	      <div>
	        <div class="page-loader-body">
	          <div class="preloader">
	            <div></div>
	            <div></div>
	            <div></div>
	            <div></div>
	            <div></div>
	            <div></div>
	            <div></div>
	            <div></div>
	            <div></div>
	            <div></div>
	          </div>
	        </div>
	      </div>
	    </div>
		
		<div class="wrapper ">
	
		{{ render(controller("AppBundle:Backend/Main:mainMenu")) }}
			
		<div class="main-panel">	
			
			{{ render(controller("AppBundle:Backend/Main:profile")) }}
				
			<div class="content">
				{% block body %}
				{% endblock %}
			</div>
		</div>
		
		
		</div>
		
		

		<!-- For Js Library -->
		<script src="{{ asset('js/site/core/jquery.min.js')}}"></script>
		<script src="{{ asset('js/site/core/popper.min.js')}}"></script>
		<script src="{{ asset('js/site/core/bootstrap.min.js')}}"></script>		
		<script src="{{ asset('js/site/plugins/bootstrap-notify.js')}}"></script>
		<script src="{{ asset('js/site/plugins/chartjs.min.js')}}"></script>
		<script src="{{ asset('js/site/plugins/bootstrap-selectpicker.js')}}" ></script>
		<script src="{{ asset('js/site/plugins/bootstrap-switch.js')}}" ></script>		
		<script src="{{ asset('js/site/plugins/jquery.dataTables.min.js')}}" ></script>
		<script src="{{ asset('js/site/plugins/jquery.validate.min.js')}}" ></script>
		<script src="{{ asset('js/bootstrap3-typeahead.js')}}" ></script>
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
	

		<!-- Sweet alert -->
		<script src="{{ asset('js/sa2.min.js')}}" ></script>
						
	    <script src="{{ asset('js/site/plugins/perfect-scrollbar.jquery.min.js')}}"></script>
	    <script src="{{ asset('js/site/now-ui-dashboard.js')}}"></script>
	    
	    {#<script src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/moment.min.js'></script>		
	    <script src='http://fullcalendar.io/js/fullcalendar-2.1.1/fullcalendar.min.js'></script>
	    <script src='https://fullcalendar.io/js/fullcalendar-2.1.1/lang-all.js'></script>#}	
	    
	    <script src="https://cdn.jsdelivr.net/bootstrap.datepicker-fork/1.3.0/js/bootstrap-datepicker.js"></script>
		<script src="https://cdn.jsdelivr.net/bootstrap.datepicker-fork/1.3.0/js/locales/bootstrap-datepicker.es.js"></script>

	    <script src="{{ asset('js/site/demo.js')}}"></script>
	    
		
		<script>
		
			function menuCol(id)
			{
				$('.menu'+id).toggle("fast");
			}
				
			$(document).ready(function() {
				
				$('.datepicker').datepicker({
				    language: "es",
				    format: 'yyyy-mm-dd'
				});
				
			    $('.datatable').DataTable({
			      "pagingType": "full_numbers",
			      "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
			      responsive: true,
			      language: {
				        processing:     "Procesando...",
				        search:         "Buscar:",
				        lengthMenu:     "Mostrar _MENU_ registros",
				        info:           "Mostrando del _START_ al _END_ de un total de _TOTAL_ registros",
				        infoEmpty:      "Mostrando del 0 al 0 de un total de 0 registros",
				        infoFiltered:   "(filtrado de un total de _MAX_ registros)",
				        infoPostFix:    "",
				        loadingRecords: "Cargando...",
				        zeroRecords:    "No se encontraron resultados",
				        emptyTable:     "Ningún dato disponible en esta tabla",
				        paginate: {
				            first:      "Primero",
				            previous:   "Anterior",
				            next:       "Siguiente",
				            last:       "Último",
				        },
				        aria: {
				            sortAscending:  ": Activar para ordenar la columna de manera ascendente",
				            sortDescending: ": Activar para ordenar la columna de manera descendente"
				        }
				    }		
			
			    });
			});    
		</script>
		
		{% for flash_message in app.session.flashbag.get('success_message') %}				
			<script>	
				nowuiDashboard.showNotification('top','right','<b>{{ flash_message|raw }}</b>','success');
			</script>	
		{% endfor %}
		{% for flash_message in app.session.flashbag.get('error_message') %}		
			<script>	
				nowuiDashboard.showNotification('top','right','<b>{{ flash_message|raw }}</b>','danger');
			</script>			
		{% endfor %}
		{% for flash_message in app.session.flashbag.get('alert_message') %}
			<script>
				nowuiDashboard.showNotification('top','right','<b>{{ flash_message|raw }}</b>','warning');
			</script>	
		{% endfor %}
		
		<script>
  
			$(document).ready(function(){				  	
				  	
				  	
			      $('[data-toggle="tooltip"]').tooltip();

				  setTimeout(function () {
					$(".page-loader").addClass("loaded");
					$(".page-loader").fadeOut(500, function () {
						$(this).remove();
					});
	
					$(window).trigger("resize");
				  }, 200);
				  

			 });		
		</script>
		<script>
		  function setFormValidation(id){
		    $(id).validate({
		    	submitHandler: function(form) {
				    // do other things for a valid form
				    swal({
		                title: "Por favor, espere...",
		                html: '<h1 class="text-center"><i class="fa fa-spin fa-spinner"></i></h1>',	                        
		                buttonsStyling: false,
		                showConfirmButton: false
		           });
		           $('input[type="submit"]').prop('disabled',true);
				   form.submit();				    
				},
		        highlight: function(element) {
		            $(element).closest('.form-group').removeClass('has-success').addClass('has-danger');
		            $(element).closest('.form-check').removeClass('has-success').addClass('has-danger');
		        },
		        success: function(element) {
		            $(element).closest('.form-group').removeClass('has-danger').addClass('has-success');
		            $(element).closest('.form-check').removeClass('has-danger').addClass('has-success');
		        },
		        errorPlacement : function(error, element) {
		            $(element).append(error);
		        },
		    });
		  }
		  
		  

		</script>
		<script>
			    $('#confirm-modal').modal();

			    $('#confirm-modal').on('show.bs.modal', function(e) {
			        $(this).find('#btn-ok').attr('href', $(e.relatedTarget).data('href'));
			
			        // Get the question text
			        var text = $(this).find('#question-p').text();
			
			        // Replace [ID] with the data 'id'
			        var replaceText = "<span class='delete-id'>" + $(e.relatedTarget).data('id') + "</span>";
			        text = text.replace('[ID]', replaceText);
			        $(this).find('#question-p').html(text);
			    });
			
			    $('#confirm-modal').on('hidden.bs.modal', function (e) {
			        // Switch back to [ID]
			        $(this).find('#question-p').find('span.delete-id').replaceWith('[ID]');
			    })
		</script>
		{% block extra_scripts %}
		{% endblock %}
			
		<div id="fb-root"></div>

	</body>	
</html>
