{% extends '@App/Backend/base.html.twig' %}

{% block body %}
	
	 
	 	{{ include('@App/Backend/Dashboards/stats.html.twig') }}
	 
	    	  	   	  
{% endblock %} 

{% block extra_scripts %}

{% endblock %}