{% extends '@App/Backend/base_login.html.twig' %}

{% block body %}

<div class="login-page">
  <div class="container">
    <div class="form-outer text-center d-flex align-items-center">    	
      <div class="form-inner" style='width:100%'>      	
      	<a href="{{ path('backend_login') }}" class="btn btn-secondary" style='float:left;'>&laquo; Iniciar sesión</a>
      	<br>
      	<div style='clear:both'></div>
        <div class="logo">
        	<!--strong class="text-primary"> KAANS</strong><br><span>Plataforma Educativa</span-->
        	<img src="{{ asset('images/logo_inner.png') }}" style='max-height:100px;'>
        </div>
        <br>
        
        {{ include('@App/Backend/flash_message.html.twig') }}
        <p>Para recuperar su contraseña, por favor ingrese el email registrado</p>
        <br>        
        <form id="login-form" method="post" action="{{ path('backend_user_password_recovery_check') }}">
          <div class="form-group">
            <label for="login-username" class="label-custom">Email</label>
            <input id="login-username" type="text" name="_email" required="">
          </div>
          <br>
          <button class="btn btn-lg btn-primary">Recuperar</button>
          <br><br>          
          <small>Si no recuerdas tu email envia un correo electrónico a soporte@kaans.net, para recibir ayuda personalizada</small>
        </form>        
      </div>
      <div class="copyrights text-center">
        <p>Desarrollado por <a href="https://aguilalibreweb.com" class="external">ÁguilaLibre</a></p>
        <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
      </div>
    </div>
  </div>
</div>
{% endblock %}
