{% extends '@App/Backend/base_login.html.twig' %}

{% block body %}


  <div class="wrapper wrapper-full-page ">
          
    <div class="full-page login-page section-image" filter-color="black" data-image="{{asset('images/background_login.jpg')}}">
        <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
        <div class="content" style = "padding-top: 55px; padding-bottom: 60px;">
            <div class="container">
                <div class="col-md-4 ml-auto mr-auto">
                    <form class="form" method="post" action="{{ path('backend_login') }}">

						<div class="card card-login card-plain">
						    
						    <div class="card-header ">
							    <div class="logo-containerr text-center">
									 {#<img src="{{asset('images/site/logo.png')}}" alt="" style='width:90%'>#}
									 
									 <img src="{{asset('images/logo_full.png')}}" alt="" style='width:80%'><br>
							    </div>
						    </div>
						    <br>
						    <div class="card-body ">        
						      <div class="input-group no-border form-control-lg">
						        <span class="input-group-prepend">
						          <div class="input-group-text">
						            <i class="now-ui-icons users_circle-08"></i>
						          </div>
						        </span>
						        <input type="text" class="form-control" name='_username' placeholder="Usuario" style='height:50px;'>
						      </div>
						
						      <div class="input-group no-border form-control-lg">
						        <div class="input-group-prepend">
						          <div class="input-group-text">
						            <i class="now-ui-icons ui-1_lock-circle-open"></i>
						          </div>
						        </div>
						        <input type="password" placeholder="Contraseña" name='_password' class="form-control" style='height:50px;'>
						      </div>
							</div>
							<div class="card-footer ">
					    	    <button type='submit' class="btn btn-primary btn-round btn-lg btn-block mb-3">Ingresar</button>
		                       
		                       {# <div class="pull-left">
		                            <h6><a href="login.html#pablo" class="link footer-link">Crear cuenta</a></h6>
		                        </div>
		
		                        <div class="pull-right">
		                           <h6><a href="login.html#pablo" class="link footer-link">Necesita Ayuda?</a></h6>
		                        </div>#}
					   	  </div>
						    
						</div>

                    </form>
                </div>
            
            
            
		
				
            
        </div>
        
        
	
	</div>

</div>
 


 
      
{% endblock %}

{% block extra_scripts %}
<script>
  $(document).ready(function(){
    demo.checkFullPageBackgroundImage();
  });
</script>

{% endblock %}