    <div class="sidebar" data-color="teal">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
      <div class="logo">
        <a href="#" class="simple-text logo-normal">
           <img src="{{asset('images/logo_full.png')}}" alt="" style='height:50px;'>          
        </a>
      
        
        
        <div class="navbar-minimize">
          <button id="minimizeSidebar" class="btn btn-simple btn-icon btn-neutral btn-round">
              <i class="now-ui-icons text_align-center visible-on-sidebar-regular"></i>
              <i class="now-ui-icons design_bullet-list-67 visible-on-sidebar-mini"></i>
          </button>
  	    </div>
  	    
  	    
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">

			{% for key,group in moduleGroup %}
				<li>
					<a href="javascript:void(0)" id='toggle{{key|md5}}' onclick="menuCol('{{key | md5}}')">
						{{group}}
					</a>
				</li>				
				{% for module in userModules  %}
					
					{% if module.platform_id == key %}
						{% if module.visible == 1 %}
						<li class="{{ menuId == module.mcid ? 'active' : '' }} menu{{key | md5}}">
							<a href="{{ path(module.url_access) }}">
								<i class="fa {{ module.module_icon }}"></i>
									<p>{{ module.alias_name }}</p>						
							</a>
						</li>
						{% endif %}
					{% endif %}
						
				{% endfor %}       
			{% endfor %}
          

        </ul>
      </div>
    </div>
