<div class="card box-success">
	<div class="card-header">
		<h3 class="box-title">Listado de roles de usuario</h3>
	</div>
	<!-- /.box-header -->
	<div class="card-body table-responsive no-padding">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nombre</th>
					<th>Descripci&oacute;n</th>
					<th>Activo</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for userRole in list %}
				<tr>
					<td>{{ userRole.userRoleId }}</td>
					<td>{{ userRole.name }}</td>
					<td>{{ userRole.description }}</td>
					<td>{% if userRole.active %}Si{% else %}No{% endif %}</td>
					<td class="list_tools">					
					<a href="{{ path('backend_user_role_permission', {'roleId': userRole.userRoleId|md5}) }}"><i
							class="fa fa-fw fa-list"></i></a>
							&nbsp;&nbsp;   												    
					<a href="{{ path('backend_user_roles_edit', {'roleId': userRole.userRoleId|md5}) }}"><i
							class="fa fa-fw fa-edit"></i></a>&nbsp;						
						<a class="deleteUser"
						data-href="{{ path('backend_user_roles_delete', {'roleId': userRole.userRoleId|md5} )}}" data-role="{{ userRole.name }}"
						href="javascript:;"><i class="fa fa-fw fa-remove"></i></a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<!-- /.box-body -->
</div>

{% block extra_scripts %}
<script type="text/javascript">
	$(function() {
		$('.deleteUser').click(function(){
			if (confirm('Desea eliminar el rol ' + $(this).attr('data-role') + '?')) {
				window.location =  $(this).attr('data-href'); 
			}
		});		
	});
</script>
{% endblock %}
