{% extends '@App/Backend/base.html.twig' %}
{% block body %}

<div class="card">
    <div class="card-header">        
        <div class='row'>
        	<div class='col-md-6'>
        		    				
        	</div>
        	{% if permits["wp"] %}             	    
        	    <div class='col-md-3'></div>   		        		        			        
	        	<div class='col-md-3'>	        		      		
	        		<button type="button" class='btn btn-primary btn-block float-md-right btn-round' data-toggle="modal" data-target="#openModal">
	        			<i class='now-ui-icons ui-1_simple-add'></i> Agregar Estudiante       			
	        		</button>        			        		
	        	</div>	        	        				        		        
        	{% endif %}        	
        </div>        
    </div>
    <div class="card-body">
        {{ include('@App/Backend/Students/list.html.twig', { 'list': list }) }}
	</div>             
</div>


<!-- The Modal -->
<div class="modal fade" id="openModal">
  <div class="modal-dialog">
    <div class="modal-content">
	
      <div class="modal-header">
	    <h4 class="modal-title" style='margin-top:0px'>Agregar Estudiante</h4>		
	    <button type="button" class="close" data-dismiss="modal">&times;</button>
	  </div>
      <div class="modal-body" id='modalContent1'>
      	  {{ include('@App/Backend/Students/form.html.twig', { 'form': form, 'edit': false }) }}
      </div>      
      <!--div class="modal-footer float-right">        
      </div-->	    
    </div>
  </div>
</div>
  
{{ include(
	'@App/Backend/confirm_modal.html.twig',
	{
		'form': form,
		'confirmQuestion': '¿Está seguro de eliminar este registro?'
	}
) }}  
       
{% endblock %}
{% block extra_scripts %}
<script>

    
    $(document).ready(function() {
    	
	    setFormValidation('#userForm');	    
	});
	
	
	$(document).ready(function() {
	
	    var readURL = function(input) {
	    	console.log(input);
	        if (input.files && input.files[0]) {
	            var reader = new FileReader();
	
	            reader.onload = function (e) {
	                $('.profile-pic').attr('src', e.target.result);
	            }
	    
	            reader.readAsDataURL(input.files[0]);
	        }
	    }
	   
	    $(".file-upload").on('change', function(){
	        readURL(this);
	    });
	    
	    $(".upload-button").on('click', function() {
	       $(".file-upload").click();
	    });
	});
    

	$(document).ready(function() {
	    $('.datatable_custom').DataTable({
	      "pagingType": "full_numbers",
	      "columnDefs": [
			  { "orderable": false, "targets": 3 }  
		   ],
		  
	      "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
	      responsive: true,
	      language: {
		        processing:     "Procesando...",
		        search:         "Buscar:",
		        lengthMenu:     "Mostrar _MENU_ registros",
		        info:           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
		        infoEmpty:      "Mostrando registros del 0 al 0 de un total de 0 registros",
		        infoFiltered:   "(filtrado de un total de _MAX_ registros)",
		        infoPostFix:    "",
		        loadingRecords: "Cargando...",
		        zeroRecords:    "No se encontraron resultados",
		        emptyTable:     "Ningún dato disponible en esta tabla",
		        paginate: {
		            first:      "Primero",
		            previous:   "Anterior",
		            next:       "Siguiente",
		            last:       "Último",
		        },
		        aria: {
		            sortAscending:  ": Activar para ordenar la columna de manera ascendente",
		            sortDescending: ": Activar para ordenar la columna de manera descendente"
		        }
		    }		
	
	    });
	});    
		
</script>  
{% endblock %}
        