
	<div class="table-responsive">
			<table class="table datatable_custom">
				<thead class="text-primary">
					<tr>			
						<th>Cedula</th>
						<th>Nombre</th>											
						<th>Apellido</th>
						<th>Fecha de Nacimiento</th>		
						<th>Edad</th>
						<th>Dirección</th>
						<th>Número del representante</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{'123456'}}</td>
						<td>{{'Juan'}}</td>
						<td>{{'Peréz'}}</td>						
						<td>{{'01-01-1990'}}</td>
						<td>{{'29'}}</td>
						<td>{{'Distrito metropolitano de Manhattan'}}</td>
						<td>{{'5234156728'}}</td>
						<td class="list_tools">
							<a href="#" class="btn btn-info btn-icon btn-sm ">
								<i class="fa fa-fw fa-pencil"></i>
							</a>
								<a  href="javascript:;"
								class="btn btn-danger btn-icon btn-sm "
								data-id="{{ '' }}" 
								data-href="#"
		                        data-toggle="modal"
		                        data-target="#confirm-modal">
								<i class="now-ui-icons ui-1_simple-remove"></i>
							</a>
							<a href="{{ path('backend_representative', {'id': '123456' | md5 }) }}" class="btn btn-info btn-icon btn-sm " style = "background-color: #f39c12;" >
								<i class="fa fa-fw fa-users"></i>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
			
	</div>
	{# <div class='row'>
		<div class='col-md-12 text-center'>
			<h1><i class='now-ui-icons business_badge'></i></h1>
			<h2>Aún no hay Estudiantes</h2>
			<a href="javascript:void(0)" data-toggle="modal" data-target="#openModal" class='btn btn-primary'>¡Agregar Estudiante!</a>
		</div>
	</div> #}
