<div class="card box-success">
	<div class="card-header">
		<h3 class="box-title">			
			Información general
		</h3>
	</div>
	<!-- /.box-header -->
	<div class="card-body padding">
		
		{% if user.userRole.userRoleId == 1 or user.userId == userInfo.id or user.userRole.userRoleId == 5 %}
		<div class='row'>
			{% if user.userRole.userRoleId == 1 or user.userId == userInfo.id %}
			<div class='col-lg-2'>
				<a href="{{ path('backend_user_edit',{id: user.userId | md5}) }}" class='btn btn-primary btn-block'>
					<i class='fa fa-edit'></i> Editar Perfil
				</a>					
			</div>
			{% endif %}
			{% if userInfo.role_id == 3 or userInfo.role_id == 4 %}
				{% if user.userRole.userRoleId == 5 %}	
				<div class='col-lg-3'>				
					<a href='javascript:void(0)' data-toggle="modal" data-target="#boardModal" onclick="viewBoard('{{user.userId | md5 }}')" class='btn btn-block btn-primary'>
						<i class='fa fa-fw fa-book'></i> Ver Cuadros
					</a>
				</div>	
				{% endif %}
			{% endif %}
		</div>		
		<br>
		{% endif %}
		
		
		<div class='row'>
			<div class='col-md-2'></div>						
			<div class='col-md-3'>
				<div class='avatar_img avatar_img_large'>
				{% if user.avatarPath != '' %}
					{# <img src='{{ asset("uploads/profiles") }}/{{ user.avatarPath }}'> #} 
					<img src='{{ user.avatarPath }}'>
				{% else %}
					<img src='{{ asset("images/default_user_icon.png") }}'>
				{% endif %}
				</div>
			</div>
			<div class='col-md-5 text-center'>
				<h2>{{ user.firstName }} {{ user.lastName }} 
					<span class='badge badge-secondary' data-toggle="tooltip" title="ID de Kaans - Para uso de soporte al cliente">
					<i class='fa fa-question-circle'></i> K{{ user.userId }}
					</span>
				</h2>
				<h3>{{ user.userRole.name }}</h3>								
				<hr>				
				<p>
					{{ user.institute }}					
					{% if user.gradeSection != '' %}					
						Plan {{ user.gradeSection.grade.plan.name }}, Jornada {{ user.gradeSection.grade.workingDay.name }}
						<br>					
						{{ user.gradeSection.grade.name }} - Sección {{ user.gradeSection.sectionName }}					
					{% endif %}
					{% if user.email != '' %}
						<br>{{ user.email }}
					{% endif %}
				</p>								
			</div>
			<div class='col-md-2'></div>			
		</div>
	</div>
</div>

{{ include('@App/Backend/_modals.html.twig') }}