{% if list | length > 0 %}
	<div class="table-responsive">
			<table class="table datatable_custom">
				<thead class="text-primary">
					<tr>			
						<th>Nombre</th>
						<th>Email</th>											
						<th>Estado</th>
						<th></th>		
						{% if permits["ep"] and permits["dp"] %}	
							<th>Acciones</th>
						{% endif %}	
						
					</tr>
				</thead>
				<tbody>
				{% for user in list %}
					<tr>
						
						<td>						
							{{ user.firstName }} {{ user.lastName }} 
						</td>
						<td>
							{{user.email}}
						</td>						
						
						<td>{% if user.status == 'ACTIVO' %}
								{% set badgeColor = 'success' %}
								{% set status = 'ACTIVO' %}
							{% endif %}
							<a class='badge badge-{{badgeColor}}'>{{status}}</a>
						</td>
        			
						<td>
							{% if user.avatarPath | length > 0 %}
								<img  class='avatar' src="{{asset('uploads/profiles/'~user.avatarPath)}}">
							{% else %}
								<img  class='avatar' src="{{asset('images/default_user_icon.png')}}">
							{% endif %}
						</td>
						<td class="list_tools">
							
		                {% if permits["ep"] %}
							<a href="{{ path('backend_user_edit', {'id': user.userId | md5 }) }}" class="btn btn-info btn-icon btn-sm ">
								<i class="fa fa-fw fa-pencil"></i>
							</a>
						{% endif %}
						
						{% if permits["dp"] %}
							<a  href="javascript:;"
								class="btn btn-danger btn-icon btn-sm "
								data-id="{{ user.userId }}" 
								data-href="{{ path(
		                            'backend_user_delete',
		                            {'id': user.userId | md5 }
		                        ) }}"
		                        data-toggle="modal"
		                        data-target="#confirm-modal">
								<i class="now-ui-icons ui-1_simple-remove"></i>
							</a>
						{% endif %}
						</td>
						
					</tr>
				{% endfor %}
				</tbody>
			</table>
	</div>
{% else %}
	<div class='row'>
		<div class='col-md-12 text-center'>
			<h1><i class='now-ui-icons business_badge'></i></h1>
			<h2>Aún no hay Usuarios</h2>
			<p>Agregue Usuarios a este departamento y defina sus funciones</p>
			<a href="javascript:void(0)" data-toggle="modal" data-target="#openModal" class='btn btn-primary'>¡Agregar colaboradores!</a>
		</div>
	</div>
{% endif %}	
