<option value=""></option>
{% for section in sections %}
<option value="{{ section.grade_section_id }}">Plan {{ section.plan_name }} - Jornada {{ section.working_name }} - {{ section.grade_name }} - Sección {{ section.section_name }}</option>
{% endfor %}
