select.error, input.error, textarea.error {
	border-color: #dd4b39;
}

label.error {
	color: #dd4b39;
}

.list_tools {
	font-size: 18px;
	text-align: center;
}

.logo-panel .logo {
    /*padding: 5px;*/
    width: 200px;
}


#la_overlay {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.8;
    filter: alpha(opacity=80);
    z-index:2000000;
}





#la_loading {
    width: 165px;
    height: 57px;
    
    top: 40%;
    
    margin: 0 auto;
    z-index:2000000;
}



#equal
{
	 -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5) center center no-repeat;
    opacity: .5;
}

.spinner {   
   left: 50%;
   top: 50%;
   height:60px;
   width:60px;
   margin:0px auto;
   -webkit-animation: rotation .6s infinite linear;
   -moz-animation: rotation .6s infinite linear;
   -o-animation: rotation .6s infinite linear;
   animation: rotation .6s infinite linear;
   border-left:6px solid rgba(0,174,239,.15);
   border-right:6px solid rgba(0,174,239,.15);
   border-bottom:6px solid rgba(0,174,239,.15);
   border-top:6px solid rgba(0,174,239,.8);
   border-radius:100%;
}

.red_row td
{
	background-color:#e74c3c !important;
	color:#fff;
}

.green_row td
{
	color:#27ae60;
}

@-webkit-keyframes rotation {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
   from {-moz-transform: rotate(0deg);}
   to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
   from {-o-transform: rotate(0deg);}
   to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
   from {transform: rotate(0deg);}
   to {transform: rotate(359deg);}
}


.alert.alert-danger {
    max-height: 250px;
    overflow-y: auto;
}

#dashboard-offer-image img {
	width: 100%;
	max-width: 500px;
}

#dashboard-sku-points .info-box-text {
	font-size: 28px;
	text-align: center;
}

#dashboard-sku-points .info-box-number {
	text-align: center;
}

#staff-menu-text-help {
	color: #FFF;
	text-align: right;
	font-size: 1.3em;
	margin-top: 40px;
}

#headerPoints .info-box-text {
	font-size: 18px;
}

#headerPoints .info-box-number {
	font-size: 28px;
}

#monthSlider .slider-tick-label {
	margin-top: 20px;
}

.published .visibility,
form .visibility {
  -webkit-appearance: checkbox;
  appearance: checkbox;
}

.box-tools .input-group-btn a.upload-link {
  float:right;
}

.nav > li > a:hover, .nav > li > a:active, .nav > li > a:focus {
  background-color: transparent;
}

.modal.map-panel.modal-info .modal-body{
  color: black !important;
}

.modal.map-panel .loading-gps {
  position: absolute;
  top: 40%;
  left: 40%;
}

.btn-info.focus, .btn-info:focus {
  background-color: #24435e;
}

form .points-of-sale-panel .add-point-of-sale {
  margin-top: 10px;
}

form .points-of-sale-panel .point-of-sale-separator,
form .points-of-sale-panel .points-of-sale-separator {
  border-top: 2px solid #d2d6de;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 15px;
  margin-bottom: 10px;
}

form .points-of-sale-panel .point-of-sale-separator {
  margin-right: 2.5%;
}

form .points-of-sale-panel .outer-pos-panel .btn.delete-pos,
form .points-of-sale-panel .pos-db-outer .btn.delete-pos {
  margin-top: 25px;
}

form .points-of-sale-panel .pos-db-outer .col-md-6.point-of-sale-panel {
  padding-left: 0;
}

.image-error ul {
  list-style-type: none;
}

form .form-pos-panel textarea,
form .form-textarea-panel textarea,
form .select-multiple select[multiple] {
  min-height: 105px;
}

.sms-modal .sms-input-panel .sms-input {
  min-height: 80px;
}

.long-text {
  word-wrap: break-word;
}

.long-text-td {
  max-width: 350px;
  word-wrap: break-word;
}

.staffs-panel .staffs-table {
  margin: auto;
  width: 100%;
}

.staffs-panel .staffs-table tr.spacing-tr {
  height: 3px;
}

.staffs-panel .staffs-table td {
  padding-right: 5px;
}

.staffs-panel .staffs-table .title-panel .delete-option-title {
  text-align: center;
}

.pointer-link {
  cursor: pointer;
}

.staff-search-panel .search-form .input-panel {
  margin-bottom: 10px;
}

.staff-search-panel .search-form .input-panel.date {
  display: table;
}

table.staffs-table .inactive {
  color: #cb2e1b;
}

.fragment {
        font-size: 12px;
    font-family: tahoma;
    height: 50px;
    border: 1px solid #ccc;
    color: #555 !important;
    display: block;
    padding: 10px;
    box-sizing: border-box;
    text-decoration: none;
    width: 350px;
    background: #b9c9d8;
}
.fragment:hover {
    box-shadow: 2px 2px 5px rgba(0,0,0,.2);

}

.fragment img { 
    float: left;
    margin-right: 10px;
}


.fragment h3 {
    padding: 0;
    margin: 0;
    color: #369;
}
.fragment h4 {
    padding: 0;
    margin: 0;
    color: #000;
}
#close {
    float:right;
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
}

.font_size_20
{
	font-size:13px !important;
}


.phone-image-text {
  position: absolute;
  top: 20%;
  left: 12%;
  width: 76%;
  text-align: left;
  padding: 2%;
  font-size: 1.4em;
  word-wrap: break-word;
}


#system_overlay {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.8;
    filter: alpha(opacity=80);
    z-index:2000000;
}
#system_loading {
    width: 50px;
    height: 57px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -28px 0 0 -25px;
    z-index:2000000;
}







 
.tree {
    min-height:20px;
    /*padding:19px;*/
    margin-bottom:20px;
    /*background-color:#fbfbfb;*/
    /*border:1px solid #999;*/
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05)
}

.tree ul {
    margin:0px !important;
    padding-left:20px !important;
}

.tree li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative
}
.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.tree li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.tree li::after {
    border-top:1px solid #999;
    height:20px;
    top:25px;
    width:25px
}
.tree li span {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #999;
    border-radius:5px;
    display:inline-block;
    padding:3px 8px;
    text-decoration:none
}
.tree li.parent_li>span {
    cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:30px
}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
    background:#eee;
    border:1px solid #94a0b4;
    color:#000
}

.tree_green {    
    color:#4CAF50;
}

.tree_blue {
    color:#1565C0;
}

.tree_red {
    color:#FF5722;
}

.tree_yellow {
    color:#FFC107;
}

.avatar_img img {
    max-height:150px;
    border-radius:10px;
}

.avatar_img {
    text-align:center;
}

.text-center {
    text-align:center;
}

.init_info {
    color:#ccc;
}

.init_info h1 {
    font-size:120px;   
}

.init_info p {
    font-size:20px;
}

.alert-dismissable .close, .alert-dismissible .close {
    right:0px !important;
}





.row.equal {
    display: flex;
    flex-wrap: wrap;
  }