{% set disabled = false %}
{% if edit %}
	{% set disabled = true %}
{% endif %}

<form method="post" action="" id="representativeForm" class="validateForm"  {{form_enctype(form)}} autocomplete="false">
	<!-- /.box-header -->
		<hr>			
		<div class='row'>
			<div class="col-md-6">
				<div class="form-group">
					{{ form_label(form.firstName, "Nombre") }}
					{{form_widget(form.firstName, {'attr': {'class': 'required form-control' }}) }}
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					{{ form_label(form.lastName, "Apellido") }}
					{{form_widget(form.lastName, {'attr': {'class': 'required form-control' }}) }}
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					{{ form_label(form.address, "Dirección") }}
					{{form_widget(form.address, {'attr': {'class': 'required form-control' }}) }}
					
					
				</div>
			</div>
			
			<div class="col-md-6">
				<div class="form-group">					
				    {{ form_label(form.phoneNumber, "Número de teléfono") }}
				    {{form_widget(form.phoneNumber, {'attr': {'class': 'required form-control' }}) }}
					
				</div>
			</div>
			
			
			
			<!-- /.col -->
		</div>
		<hr>
		
		<br>
		<div class='line'></div>
		<div class='row form-group'>
			<div class='col-md-6'>	
							
			</div>
			<div class='col-md-6'>						
				<button type="submit" class="btn btn-success pull-right disabled ">Guardar</button>				
			</div>
		</div>
		
		<!-- /.row -->
	
	
	{{ form_widget(form._token) }}
</form>


       

<script>

	
	
</script>