{% extends '@App/Backend/base.html.twig' %}

{% block body %}
<section class="content-header">
	<h1>Permisos</h1>
	<ol class="breadcrumb">
		<li><a href="{{ path('backend_main') }}"><i
				class="fa fa-wrench"></i> Home</a></li>
		<li><a href="{{ path('backend_user_roles') }}">Roles de Usuario</a></li>
		<li>
			<a
				href="{{
					path(
						'backend_user_role_permission',
						{'roleId': app.request.get('roleId')}
					)
				}}">
				Permisos
			</a>
		</li>
		<li class="active">Editar</li>
	</ol>
</section>
<section class="content">

	{{ include('@App/Backend/flash_message.html.twig') }}

	<div class="row">
		<div class="col-xs-12">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Editar Permiso</h3>
					<div class="box-tools pull-right">
						<button type="button" class="btn btn-box-tool"
							data-widget="collapse">
							<i class="fa fa-plus"></i>
						</button>
					</div>
				</div>
				{{ include('@App/Backend/UserRolePermission/form.html.twig', { 'form': form }) }}		
			</div>
			<!-- /.box -->
		</div>
	</div>	
</section>
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript">
	$(function() {
				
	});
</script>
{% endblock %}
