{% extends '@App/Backend/base.html.twig' %}

{% block body %}
  <div class="breadcrumb-holder">   
    <div class="container-fluid">
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('backend_main') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ path('backend_user_roles') }}">Roles de Usuario</a></li>
        <li class="breadcrumb-item active">Permisos</li>
      </ul>
    </div>
  </div>
  
  
<section class="content section-padding">
	<div class="container-fluid">
	  <header> 
		<h1 class="h3">Permisos</h1>
	  </header>

	{{ include('@App/Backend/flash_message.html.twig') }}

	<div class="row">
		<div class="col-md-12">
			<div class="card box-primary collapsed-box">
				<div class="card-header with-border">
					<h3 class="box-title">Agregar Permiso</h3>
					<div class="box-tools pull-right">
						<button type="button" class="btn btn-box-tool"
							data-widget="collapse">
							<i class="fa fa-plus"></i>
						</button>
					</div>
				</div>
				{{ include('@App/Backend/UserRolePermission/form.html.twig', { 'form': form }) }}		
			</div>
			<!-- /.box -->
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-12">
			{{ include('@App/Backend/UserRolePermission/list.html.twig', { 'list': list }) }}	
		</div>
	</div>
	
	</div>
</section>
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript">
	$(function() {
		$('#user_role_module_permission_userRole').val('{{ role.userRoleId }}');	
	});
</script>
{% endblock %}






