<div class="card box-success">
	<div class="card-header">
		<h3 class="box-title">Listado de roles de usuario</h3>
		<div class="box-tools">
			<div class="input-group input-group-sm" style="width: 150px;">
				<input type="text" name="table_search"
					class="form-control pull-right" placeholder="Search">

				<div class="input-group-btn">
					<button type="submit" class="btn btn-default">
						<i class="fa fa-search"></i>
					</button>
				</div>
			</div>
		</div>
	</div>
	<!-- /.box-header -->
	<div class="card-body table-responsive no-padding">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Id</th>
					<th>Rol</th>
					<th>Modulo</th>
					<th>Ver Modulo</th>
					<th>Leer</th>
					<th>Editar</th>
					<th>Eliminar</th>
					<th>Inicio</th>
					<th>Alias</th>
					<th>Desc.</th>
					<th>Herramientas</th>
				</tr>
			</thead>
			<tbody>
				{% for item in list %}
				<tr>
					<td>{{ item.userRoleModulePermissionId }}</td>
					<td>{{ item.userRole }}</td>
					<td>{{ item.module }}</td>
					<td>{% if item.viewModule %}<strong>SI</strong>
					{% else %}NO{% endif %}</td>
					<td>{% if item.readPermission %}<strong>SI</strong>
					{% else %}NO{% endif %}</td>
					<td>{% if item.editPermission %}<strong>SI</strong>
					{% else %}NO{% endif %}</td>
					<td>{% if item.deletePermission %}<strong>SI</strong>
					{% else %}NO{% endif %}</td>
					<td>{% if item.mainModule %}<strong>SI</strong>{% endif %}</td>
					<td>{{ item.aliasName }}</td>
					<td>{{ item.description }}</td>
					<td class="list_tools"><a href="{{ path('backend_user_role_permission_edit', {'rolePmId': item.userRoleModulePermissionId|md5, 'roleId': item.userRole.userRoleId|md5}) }}"><i
							class="fa fa-fw fa-edit"></i></a> 						
					<a class="deleteUser" data-href="{{ path('backend_user_role_permission_delete', {'rolePmId': item.userRoleModulePermissionId|md5, 'roleId': item.userRole.userRoleId|md5}) }}"
						data-role="{{ item.userRole }}" data-module="{{ item.module }}" href="javascript:;"><i
							class="fa fa-fw fa-remove"></i></a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<!-- /.box-body -->
</div>

{% block extra_scripts %}
<script type="text/javascript">
	$(function() {
		$('.deleteUser').click(function(){
			if (confirm('Desea eliminar el permiso para ' + $(this).attr('data-role') + ' - ' + $(this).attr('data-module') + '?')) {
				window.location =  $(this).attr('data-href'); 
			}
		});		
	});
</script>
{% endblock %}
